<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span>Allsop Test</span>
      <nav>
        <a routerLink="/products" routerLinkActive="active">Products</a>
      </nav>
      <div>
        <a routerLink="/cart" mat-icon-button color="basic" [matBadge]="total$ | async" matBadgePosition="after" matBadgeColor="warn">
          <mat-icon color="basic">shopping_cart</mat-icon>
        </a>
        <button mat-icon-button (click)="logoutUser()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>