footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 37, 37);
    color: white;
    
    .wrapper {
        display: inline-block;
        width: inherit;
        margin: 15px;
        text-align: center;

        p {
            font-size: 12px;
            font-style: italic;
        }
    }
}