.container {
    margin: 20px;

    #clear {
        margin-bottom: 10px;
    }

    table {
        width: 100%;
    }
    
    tr.mat-footer-row {
        font-weight: bold;
    }
    
    .crossed-out {
        text-decoration: line-through;
    }
    
    .discounts {
        margin-top: 15px;
    
        .mat-chip {
            background-color: #3dff3d;
        }
    }
}

.empty-box {
    margin: 20px;
    text-align: center;

    p {
        font-size: 17px;
        font-weight: 500;
    }

    img {
        width: 50vw;
    }
}