<mat-card class="product">
    <mat-card-header>
      <mat-card-title class="title">{{ product.name }}</mat-card-title>
      <mat-card-subtitle>Category: {{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getCategoryImage()" alt="Product image">
    <mat-card-content>
      <span [ngClass]="{'crossed-out': product.reduced}">{{ product.price | currency: 'GBP' }}</span>
      <span *ngIf="product.reduced" class="reduced">{{ product.reduced | currency: 'GBP' }}</span>
      <p>
          Stock: {{ product.quantity }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions" fxLayoutAlign="space-between center">
        <button mat-icon-button class="remove" (click)="removeCart()" [disabled]="requestedQuantity === 0">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ requestedQuantity }}</span>
        <button mat-icon-button class="add" (click)="addCart()" [disabled]="product.quantity === 0">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <!-- <button mat-raised-button color="primary" (click)="addCart()" [disabled]="product.quantity === 0">Add to Cart</button> -->
    </mat-card-actions>
</mat-card>