.product {
    margin: 15px;
    width: 250px;

    .title {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    img {
        height: 150px;
    }

    .actions {
        border-radius: 10px;
        background-color: #eee;

        span {
            font-size: 17px;
        }

        button {
            color: white;
            border-radius: 10px;

            &.add {
                background-color: #18e609;
            }

            &.remove {
                background-color: red;
            }

            &[disabled] {
                background-color: gray;
            }
        }
    }
}