.product {
    margin: 15px;
    width: 250px;

    .title {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    img {
        height: 150px;
    }

    .reduced {
        margin-left: 10px;
    }

    .crossed-out {
        text-decoration: line-through;
    }
}