<mat-card class="product">
    <mat-card-header>
      <mat-card-title class="title">{{ product.name }}</mat-card-title>
      <mat-card-subtitle>Category: {{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getCategoryImage()" alt="Product image">
    <mat-card-content>
      <span class="price" [ngClass]="{'crossed-out': product.reduced}">{{ product.price | currency: 'GBP' }}</span>
      <span *ngIf="product.reduced" class="price reduced">{{ product.reduced | currency: 'GBP' }}</span>
      <p>
          <strong>Stock:</strong> {{ product.quantity }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addCart()" [disabled]="product.quantity === 0">Add</button>
    </mat-card-actions>
</mat-card>